$nextPrefix: 'next-';

html {
  line-height: 1.5;
}
body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292833;
  line-height: inherit;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

* {
  border-width: 0;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

@import '@alifd/theme-react/variables.css';
@import '@alifd/theme-react/dist/next.var.css';
// @import './assets/ic.scss';

// 还在思考要不要替换
:root {
  --table-row-color: #111827;
  --nav-ver-sub-nav-font-size: 14px;
  --nav-normal-item-hover-text-style: bold;

  --nav-normal-sub-nav-hover-bg-color: #f5faff;
  --nav-normal-sub-nav-selected-bg-color: var(--nav-normal-sub-nav-hover-bg-color);
  --nav-normal-item-childselected-text-style: bold;
  --tab-pure-divider-border-color: var(--color-fill1-4);
  --step-circle-item-node-font-size: 16px;
}

// Tab
:root {
  --tab-item-padding-lr-size-m: 0px;
  --pagination-small-item-border-width: 0px;
}
.next-tabs-tab.active:before {
  margin: 0 !important;
}
.next-tabs-tab {
  margin-right: 20px;
}

// 暂时无法替换
:root {
  // Popup
  --popup-local-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

  // Pagination
  --pagination-item-current-shadow: var(--shadow);
  --pagination-item-current-hover-shadow: var(--shadow);
  --pagination-item-border-width: 0px;

  // Menu
  --menu-line-height: 20px;

  // Card
  --card-shadow: var(--shadow);

  // Dialog
  --dialog-shadow: var(--shadow-xl);

  // Drawer
  --drawer-shadow: var(--shadow-xl);

  // Tooltip
  --balloon-tooltip-shadow: var(--popup-local-shadow);

  // Ballon
  --balloon-normal-shadow: var(--popup-local-shadow);
}

// 忘记替换
:root {
  --form-element-preview-text-color: var(--text-gray-800);
  --balloon-tooltip-content-font-size: 13px;
  --table-group-th-bg: var(--bg-gray-100);
  --pagination-small-item-border-width: 0px;
}

:root {
  // AtomCss
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --un-ring-offset-shadow: 0 0 #0000;
  --un-ring-shadow: 0 0 #0000;
  --text-gray-50: rgba(249, 250, 251, 1);
  --text-gray-100: rgba(243, 244, 246, 1);
  --text-gray-200: rgb(229, 231, 235);
  --text-gray-400: rgba(156, 163, 175, var(--un-text-opacity, 1));
  --text-gray-500: rgb(107 114 128);
  --text-gray-600: rgba(75, 85, 99, var(--un-text-opacity, 1));
  --text-gray-700: rgba(55, 65, 81, var(--un-text-opacity, 1));
  --text-gray-800: rgba(31, 41, 55, var(--un-text-opacity, 1));
  --text-gray-900: rgba(17, 24, 39, var(--un-text-opacity, 1));
  --text-indigo-600: rgba(79, 70, 229, var(--un-text-opacity, 1));
  --bg-gray-50: rgba(249, 250, 251, var(--un-bg-opacity, 1));
  --bg-gray-100: rgba(243, 244, 246, var(--un-bg-opacity, 1));
  --bg-gray-200: rgba(229, 231, 235, var(--un-bg-opacity, 1));
  --bg-gray-900: rgba(17, 24, 39, var(--un-bg-opacity, 1));
  --shadow-xl: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  --shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --border-gray-200: rgba(229, 231, 235, var(--un-border-opacity, 1));
  --border-gray-300: rgba(209, 213, 219, var(--un-border-opacity, 1));
}

// List
.next-list-item-extra {
  padding-top: 4px;
}
.next-list-item-title {
  width: 100%;
}
.next-list-item-title {
  margin-top: 4px;
}

// Step size=small
.next-step.next-small {
  --step-circle-item-node-process-size: 20px;
  --step-circle-item-node-font-size: 12px;
  --step-circle-vertical-item-title-margin-top: 2px;
  --step-circle-item-node-padding: 6px;
}

// NumberPickerInline统一边框
.next-number-picker-inline {
  box-shadow: var(--shadow-sm);
  --btn-pure-normal-color: var(--text-gray-400);
  .next-input:not(.next-focus) {
    box-shadow: none;
    border-left: none;
    border-right: none;
  }
  &.next-medium {
    .next-after .next-btn {
      border-left: none;
      margin-left: 0;
    }
    .next-before .next-btn {
      border-right: none;
      margin-right: 0;
    }
  }
}

// Card
.next-card-header-title {
  line-height: 24px;
}
.next-card-header-subtitle {
  margin-top: 4px;
}

// Nav
.next-nav.next-ver.next-right .next-nav-item:before,
.next-nav.next-ver.next-bottom .next-nav-item:before {
  right: 0;
}
.next-nav {
  &.next-rounded {
    --nav-ver-item-corner: 8px;
  }
  &.next-line {
    .next-nav-icon.next-icon {
      color: var(--text-gray-400);
      width: 24px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      transform: translate3d(0, -2px, 0);
      font-weight: normal;
    }

    &.next-icon-only {
      .next-nav-icon.next-icon {
        color: var(--text-gray-600);
        transform: translate3d(0, 0, 0);
      }
      .next-selected {
        .next-nav-icon.next-icon {
          color: var(--text-gray-800);
        }
      }
    }
  }
}

// Cascader
.next-cascader-menu-icon-right {
  top: 9px;
}

// Select
.next-select-multiple {
  &.next-no-tag-style {
    .next-tag {
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      height: auto;
      color: var(--text-gray-900);
    }
    .next-tag-default.next-tag-level-primary:not(.disabled):not([disabled]):hover {
      background: transparent;
    }
    .next-tag-body {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
  }
}
.next-select-multiple-menu {
  .next-menu-icon-selected {
    display: none;
  }
  .next-menu-item-inner::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    color: var(--color-brand1-6);
    margin-right: 12px;
    border-radius: 4px;
    border: 1px solid var(--border-gray-300);
  }
  .next-menu-item.next-selected .next-menu-item-inner::before {
    background-color: var(--color-brand1-6);
    color: #fff;
    border-color: var(--color-brand1-6);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
}

// Message
.next-message {
  &.next-toast {
    box-shadow: var(--shadow-md);
  }

  &.next-message-warning {
    &.next-inline {
      background-color: var(--message-warning-color-bg-inline, #e4f3fe);
      border-color: rgb(255, 125, 0);
    }

    .next-message-symbol-icon::before {
      color: transparent;
      margin-top: -3px;
      width: 20px;
      height: 20px;
      background: url('https://api.iconify.design/ri:error-warning-fill.svg?color=%23ff7d00') no-repeat center center /
        contain;
    }
  }

  &.next-message-error {
    &.next-inline {
      background-color: var(--message-error-color-bg-inline, #e4f3fe);
      border-color: rgb(245, 63, 63);
    }
    .next-message-symbol-icon::before {
      color: transparent;
      margin-top: -3px;
      width: 20px;
      height: 20px;
      background: url('https://api.iconify.design/ph:warning-fill.svg?color=%23f53f3f') no-repeat center center /
        contain;
    }
  }

  &.next-message-notice {
    &.next-inline {
      background-color: var(--message-notice-color-bg-inline, #e4f3fe);
      border-color: #d9d8ff;
    }
    .next-message-symbol-icon::before {
      color: transparent;
      margin-top: -3px;
      width: 20px;
      height: 20px;
      background: url('https://api.iconify.design/ion:information-circle-sharp.svg?color=%23271fe0') no-repeat center
        center / contain;
    }
  }

  &.next-message-success {
    &.next-inline {
      background-color: var(--message-success-color-bg-inline, #e4f3fe);
      border-color: rgb(0, 180, 42);
    }
    .next-message-symbol-icon::before {
      color: transparent;
      margin-top: -3px;
      width: 20px;
      height: 20px;
      background: url('https://api.iconify.design/ep:success-filled.svg?color=%2300b42a') no-repeat center center /
        contain;
    }
  }

  .next-message-title {
    font-weight: 500;
  }
}

// Form
.next-form-item-label {
  font-weight: 500;
}
.next-form-item .next-form-item-label > label {
  font-weight: 500;
}
.next-input {
  box-shadow: var(--shadow-sm);
  &.next-noborder {
    &.next-focus,
    &.next-disabled {
      box-shadow: none;
    }
  }

  &.next-focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, var(--color-brand1-6) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }

  &.next-error,
  &.next-error.next-focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, #d23c26 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
}

// Common
.next-bg-transparent {
  .next-input {
    background-color: transparent;
  }
}
.next-w-max {
  .next-input {
    width: max-content;
    min-width: 0;
  }
}
.next-input-gray {
  .next-input {
    box-shadow: none;
    background-color: var(--bg-gray-100);
  }
}

// Picker
.next-date-picker2-input.next-date-picker2-input-focus {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, var(--color-brand1-6) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.next-date-picker2-wrapper {
  border-radius: 6px;
}
.next-time-picker2-menu-item.next-selected {
  color: var(--color-brand1-6);
  background-color: var(--bg-gray-50);
  font-weight: 500;
}

// List
.next-list-item-title {
  font-weight: 500;
}

// Drawer
.next-drawer-header {
  position: relative;
  font-weight: 500;
  padding-left: 60px;
}
.next-drawer-close {
  border-right: 1px solid var(--bg-gray-200);
  padding: 16px 24px 16px 24px;
  right: inherit;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  color: var(--text-gray-900);
}

// Overlay
.next-overlay-wrapper .next-overlay-backdrop {
  background-color: rgba(107, 114, 128, 0.75);
}

// Tab
.#{$nextPrefix}tabs-pure > .#{$nextPrefix}tabs-bar .#{$nextPrefix}tabs-nav-container .#{$nextPrefix}tabs-tab.active {
  position: relative;
  font-weight: bold;
}

.#{$nextPrefix}tabs-pure
  > .#{$nextPrefix}tabs-bar
  .#{$nextPrefix}tabs-nav-container
  .#{$nextPrefix}tabs-tab.active:before {
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 0;
  right: 0;
  margin: 0 8px;
  background-color: var(--color-brand1-6);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: auto;
}

// Table
.next-table-rounded-none {
  --table-header-corner-bottom: 0;
}

// Table - 拖拽
.next-table.next-drag {
  .next-drag-over-up {
    transform: translate3d(0, -1px, 0);
    td {
      border-bottom-color: transparent;
      border-top: 1px dashed var(--color-brand1-6);
    }
  }
  .next-drag-over-down {
    td {
      border-bottom: 1px dashed var(--color-brand1-6);
      border-top-color: transparent;
    }
  }
  .next-drag-over {
    td {
      background: var(--bg-gray-50);
      transition: background 0.3s ease;
    }
  }
}

// - Table 排序
.next-table-header-node:not(.next-table-prerow) .next-table-cell-wrapper {
  position: relative;
  pointer-events: none;
  z-index: 1;
}
.next-table-sort {
  position: initial;
  pointer-events: auto;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin-left: 4px;
  a {
    display: none;
  }
  .current {
    display: block;
    .next-icon {
      left: initial;
      color: var(--text-gray-400);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: -1;
  }
  &:hover::before {
    background: var(--bg-gray-100);
  }
  .next-icon {
    position: initial;
    width: 16px;
    height: 16px;
    margin-top: -4px;
  }
  .next-icon-ascending::before {
    content: '';
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBhcmlhLWhpZGRlbj0idHJ1ZSIgcm9sZT0iaW1nIiBjbGFzcz0iaWNvbmlmeSBpY29uaWZ5LS1pYyIgd2lkdGg9IjFlbSIgaGVpZ2h0PSIxZW0iIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzljYTNhZiIgZD0iTTguNzEgMTIuMjlMMTEuMyA5LjdhLjk5Ni45OTYgMCAwIDEgMS40MSAwbDIuNTkgMi41OWMuNjMuNjMuMTggMS43MS0uNzEgMS43MUg5LjQxYy0uODkgMC0xLjMzLTEuMDgtLjctMS43MXoiPjwvcGF0aD48L3N2Zz4=')
      no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    transform: scale(1.5);
  }
  .next-icon-descending::before {
    content: '';
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBhcmlhLWhpZGRlbj0idHJ1ZSIgcm9sZT0iaW1nIiBjbGFzcz0iaWNvbmlmeSBpY29uaWZ5LS1pYyIgd2lkdGg9IjFlbSIgaGVpZ2h0PSIxZW0iIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzljYTNhZiIgZD0ibTguNzEgMTEuNzFsMi41OSAyLjU5Yy4zOS4zOSAxLjAyLjM5IDEuNDEgMGwyLjU5LTIuNTljLjYzLS42My4xOC0xLjcxLS43MS0xLjcxSDkuNDFjLS44OSAwLTEuMzMgMS4wOC0uNyAxLjcxeiI+PC9wYXRoPjwvc3ZnPg==')
      no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    transform: scale(1.5);
  }
}

.next-table {
  &.next-table-header-no-bg {
    --table-th-bg: transparent;
  }

  &.next-row-pl-0 {
    --table-cell-padding-left: 0;
    --table-header-padding-left: 0;
  }

  .next-table-cell {
    &.next-no-padding {
      --table-cell-padding-top: 0;
      --table-cell-padding-left: 0;
    }
  }

  &.next-cell-overflow-visible {
    td .next-table-cell-wrapper {
      overflow: visible;
    }
  }

  &.next-table-row-no-hovered {
    --table-row-hover-bg: transparent;
  }

  &.next-table-large {
    --table-header-padding-top: 16px;
    --table-cell-padding-top: 16px;
  }

  th .next-table-cell-wrapper,
  td .next-table-cell-wrapper {
    white-space: pre;
  }

  &.next-table-small {
    --table-body-font-size: 12px;
  }
}

// Menu
.next-menu {
  .next-menu-item {
    &:first-of-type {
      border-top-right-radius: var(--popup-local-corner);
      border-top-left-radius: var(--popup-local-corner);
    }
    &:last-of-type {
      border-bottom-right-radius: var(--popup-local-corner);
      border-bottom-left-radius: var(--popup-local-corner);
    }
  }

  &.next-ver {
    // 上下边距
    .next-menu-item {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .next-menu-item {
    // 选择粗体
    &.next-selected {
      font-weight: 500;
    }

    // 改为左边 + 颜色
    &.next-selected .next-menu-icon-selected {
      color: var(--text-indigo-600);
      right: 12px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
  }
}
.next-menu-item-inner-overflow-visible {
  .next-menu-item {
    .next-menu-item-inner {
      overflow: visible;
      height: auto;
    }
  }
}

// Button 粗体 + 居中展示内容
.next-btn {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.next-btn-text.next-btn-normal {
  box-shadow: none;
}

// MenuButton - 不隐藏阴影
.next-menu-btn {
  &:not(.next-btn-text) {
    box-shadow: var(--btn-shadow);
  }

  // 隐藏的箭头
  &.next-menu-btn-arrow-hidden {
    .next-menu-btn-arrow {
      display: none;
    }
  }

  //  三角形图标
  .next-menu-btn-arrow::before {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='m7 10l5 5l5-5H7z'/%3E%3C/svg%3E");
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
  }
}

// Dialog
.next-dialog {
  // 关闭按钮突出
  .next-dialog-close {
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-gray-300);
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px;
  }

  // 无边距
  &.next-no-padding {
    --dialog-content-padding-top: 0;
    --dialog-content-padding-left-right: 0;
    --dialog-content-padding-bottom: 0;
    .next-dialog-body {
      padding: 0;
    }
  }

  &.next-dialog-flex {
    display: flex;
    flex-direction: column;
    .next-dialog-body {
      flex-grow: 1;
    }
  }
}

// Pagination
.next-pagination {
  // 隐藏pages
  &.next-pagination-hide-pages {
    .next-pagination-pages {
      display: none;
    }
  }

  // 字体默认不粗
  .next-pagination-item:not(.next-current) {
    font-weight: normal;
  }

  // 前后按钮没有阴影
  .next-prev,
  .next-next {
    box-shadow: none;
  }
}

// 阴影
.shadow-popup {
  box-shadow: var(--popup-local-shadow);
}

// Tooltip
.next-balloon-tooltip {
  .next-balloon-arrow {
    .next-balloon-arrow-content {
      box-shadow: var(--popup-local-shadow);
    }
  }
  // 暗色主题
  &.next-dark {
    --balloon-tooltip-color-bg: var(--bg-gray-900);
    --balloon-tooltip-color: #fff;
  }
}
.next-balloon-tooltip-top-right .next-balloon-arrow {
  transform: translate(0, 1px);
}

// Ballon
.next-balloon-normal.next-balloon-top:after,
.next-balloon-normal.next-balloon-top-right:after {
  border-left: 1px solid #e7e8e9;
  border-top: 1px solid #e7e8e9;
  margin-top: -1px;
}

// Checkbox
.next-checkbox-wrapper {
  .next-checkbox-inner > .next-icon {
    margin-top: 0;
  }
}
.next-checkbox-label-overflow-hidden {
  .next-checkbox-label {
    overflow: hidden;
  }
}

// Layout
.page-padding-x {
  padding-left: 24px;
  padding-right: 24px;
}

// Upload
.next-upload-card {
  border-radius: 8px;
}
.next-upload-list-card .next-upload-list-item-wrapper {
  border-radius: 8px;
}
.next-upload-list-card .next-upload-list-item-thumbnail img {
  border-radius: 8px;
}

// 移动端
@media (max-width: 640px) {
  :root {
    --dialog-footer-button-spacing: 0;
    --dialog-content-padding-left-right: 16px;
    --dialog-content-padding-top: 20px;
    --dialog-content-padding-bottom: 16px;
    --dialog-footer-padding-top: 12px;
    --dialog-footer-padding-bottom: 12px;
    --dialog-footer-padding-left-right: 16px;

    --table-header-padding-left: 16px;
    --table-cell-padding-left: 16px;
  }

  // Dialog
  .next-dialog {
    // 按钮横向摆放 + 加大字体 + 没有左外边距 + 下外边距
    .next-dialog-footer .next-btn {
      width: 100%;
      font-size: 16px;
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  // Layout
  .page-padding-x {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.truncate-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
